.discover {
  padding: var(--padding-width); // 60px - 20px

  // .discover__grid
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1.25rem, -1.25rem + 6.94vw, 5rem);
    align-items: center;

    @include large {
      grid-template-columns: 1fr;
    }
  }

  // .discover__desc
  &__desc {
  }

  // .discover__title
  &__title {
    position: relative;
    margin-bottom: 24px;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: clamp(9.375rem, 7.268rem + 10.54vw, 16.75rem); // 268px - 150px
      height: 24px;
      z-index: -1;
      background-image: url('./../../img/discover/underline.svg');
      background-repeat: no-repeat;
			background-size: contain;

      @include medium {
        bottom: -8px;
      }
    }
  }

  // .discover__text
  &__text {
    margin-bottom: 40px;
  }

  // .discover__form
  &__form {
  }

  // .discover__picture
  &__picture {
    position: relative;
    width: fit-content;
    justify-self: center;

    @include large {
      grid-row: -1/1;
    }
  }

  // .discover__picture-hint
  &__picture-hint {
    position: absolute;
    top: 10%;
    left: 7%;

    @include small {
      top: 3%;
      left: clamp(0rem, -3.125rem + 15.63vw, 2.5rem);
    }
  }

  // .discover__picture-scroll
  &__picture-scroll {
    position: absolute;
    bottom: 20px;
    right: 15px;

    @include extraLarge {
      bottom: 0px;
      right: 7px;
    }
    @include small {
      // width: clamp(6.25rem, 4.464rem + 8.93vw, 8.75rem);
      width: clamp(5.313rem, 1.016rem + 21.48vw, 8.75rem);
    }
  }

  // .discover__picture-img
  &__picture-img {
  }
}
